{% extends "generic/regions.njk" %}
{% block main %}
<main class="c-main" role="main">

  <div class="c-section">
    <div class="o-container">

      <p class="c-title">What can you do? Here are a few ideas.</p>
      <!-- /c-title -->

      <h2 class="c-title c-title--counter">
        <span>
          Put solar panels on your roof
          <small>(and convince your neighbours to do the same)</small>
        </span>
      </h2>
      <!-- /c-title -->

      <div class="c-card">
        <div class="c-card__cover">

          image

        </div>
        <div class="c-card__content">

          <div class="s-entry-content">
            <p>Putting solar panels on your roof may seem like a futile gesture when coal power stations are still pumping out greenhouse gases. But home-generated energy is expected to play a huge role in Australia’s energy future.</p>
            <p>Installations of solar panels were <a href="#">up 7%</a> capacity-wise in 2016 compared with the previous year, and by mid 2017, Australia had more than 1.73 million small-scale solar power systems.</p>
            <p>These systems made a big difference, contributing 16% of Australia’s clean energy generation and 2.8% of total power generation. And that growth in solar panels may be about to go ballistic. By 2050, up to 10 million households and small businesses are forecast to have distributed energy resources such as solar, and may be producing 30 to 45% of Australia’s power, according to the <a href="#">CSIRO and Energy Networks Australia</a>.</p>
          </div>
          <!-- /s-entry-content -->

        </div>
      </div>
      <!-- /c-card -->

    </div>
  </div>
  <!-- /c-section -->


  <div class="c-section c-section--celery c-section--tilted">
    <div class="o-container">

      <h3 class="c-title">If this happens it will be a big step in the right direction.</h3>
      <!-- /c-title -->

      <div class="c-card">
        <div class="c-card__cover">

          image

        </div>
        <div class="c-card__content">

          <div class="s-entry-content">
            <p><a href="#">Project Drawdown</a>, a coalition of scholars, scientists, entrepreneurs and advocates from around the world, has rated widespread rooftop solar adoption as one of the most substantive actions mankind can take to reduce greenhouse gas emissions.</p>
            <p>And with <a href="#">battery storage</a> becoming more affordable and <a href="#">tools</a> for monitoring power generation and use becoming more widely available, the future could open up all sorts of <a href="#">possibilities</a> for PV owners.</p>
          </div>
          <!-- /s-entry-content -->

        </div>
      </div>
      <!-- /c-card -->

    </div>
  </div>
  <!-- /c-section -->


  <div class="c-section">
    <div class="o-container">

      <div class="s-entry-content">
        <p>By 2050 rooftop solar may be producing 30-45% of Australia’s power per year. That’s enough to replace the energy we consume annually from coal generators, which made up about 32% of energy consumption in Australia in 2017.</p>
        <small>Source: <a href="#">Electricity Network Transformation Roadmap</a></small>
        <small>Source: <a href="#">Energy Update Report 2017</a></small>
      </div>
      <!-- /s-entry-content -->

    </div>
  </div>
  <!-- /c-section -->


  <div class="c-section c-section--jaffa c-section--tilted">
    <div class="o-container">

      <h2 class="c-title c-title--counter">Buy GreenPower from your energy company</h2>
      <!-- /c-title -->

      <div class="s-entry-content">
        <p>Australia is highly dependent on dirty power. In 2016, 82.7% of <a href="#">our electricity</a> came from fossil fuels, with only 17.3% from renewables.</p>
        <p>The good news is that this renewables figure is climbing. It was up from 14.6% in the previous year, and a whole heap of <a href="#">new renewable energy</a> projects were under construction in 2017, which is proving to have been a boom year for renewable energy projects in Australia.</p>
      </div>
      <!-- /s-entry-content -->

    </div>
  </div>
  <!-- /c-section -->


  <div class="c-section">
    <div class="o-container">

      <h3 class="c-title">What do individuals have to do with corporations building giant solar power plants in the outback?</h3>
      <!-- /c-title -->

      <div class="s-entry-content">
        <p>Well, by paying a premium for accredited GreenPower, you <a href="#">drive investment in the renewables industry</a>. When you pay for GreenPower, this doesn’t mean specially sourced renewable power is transmitted to your home (now, that would be cool), but it does mean that your electricity retailer must source an equivalent amount of GreenPower accredited renewable energy, which is then added to the grid.</p>
        <p>Your carbon footprint comes down, and renewable generators get more money for doing their renewable generating thing. A few extra dollars a month from you and me can add up to a big deal for renewables in Australia.</p>
      </div>
      <!-- /s-entry-content -->

    </div>
  </div>
  <!-- /c-section -->


  <div class="c-section c-section--celery c-section--tilted">
    <div class="o-container">

      <div class="s-entry-content">
        <p>Thanks to individuals buying GreenPower, since 1997 <strong>$1 billion</strong> of extra funds has been invested back to Australia’s renewable energy industry. (If we’d all shared that cost equally, it would have cost just $2.50 per Australian per year over the past 20 years.)</p>
        <small>Source: <a href="#">GreenPower</a></small>
      </div>
      <!-- /s-entry-content -->

    </div>
  </div>
  <!-- /c-section -->


  <div class="c-section">
    <div class="o-container">

      <h2 class="c-title c-title--counter">Shop with companies that are trying to make a difference</h2>
      <!-- /c-title -->

      <div class="s-entry-content">
        <p>Thanks largely to people power, companies these days are increasingly likely to take their <a href="#">corporate social responsibility</a> seriously. And it’s a trend that’s unlikely to go away, as <a href="#">millennials in particular</a> demand that businesses lift their games.</p>
        <p>Companies can make a difference. For example, <a href="#">Who Gives a Crap</a>, a toilet paper manufacturer that gives 50% of its profits to building toilets and improving sanitation in the developing world; and <a href="#">Lush</a>, which opposes animal testing and excessive packaging, and supports charities and social change campaigns.</p>
      </div>
      <!-- /s-entry-content -->

    </div>
  </div>
  <!-- /c-section -->


  <div class="c-section c-section--amaranth c-section--tilted">
    <div class="o-container">

      <div class="s-entry-content">
        <p>Around 98% of toilet paper made in Australia is made from trees. Who Gives A Crap toilet paper is made from only recycled materials and bamboo, which not only saves the trees, but also saves water, energy and greenhouse gas emissions in it’s manufacturing too. Plus in its first four years, <a href="#">Who Gives a Crap</a> has donated more than $1 million to building toilets in the developing world.</p>
        <small>Source: <a href="#">WELL + HAPPY</a></small>
      </div>
      <!-- /s-entry-content -->

    </div>
  </div>
  <!-- /c-section -->


  <div class="c-section">
    <div class="o-container">

      <h2 class="c-title c-title--counter">Support community energy</h2>
      <!-- /c-title -->

      <div class="s-entry-content">
        <p>The future of electricity is all about power to the people, as small-scale (and some big) community renewable generation becomes an increasing part of the energy mix. But sometimes people and organisations – in particular not-for-profit community groups – need a hand in getting set up.</p>
        <p>Energy retailer Powershop is helping community groups across Australia install renewable energy systems through its Your Community Energy program. Powershop customers buy <a href="#">Your Community Energy</a> Powerpacks, which include a 6.6c/kWh premium. All of that premium (except for the GST) is pooled together and distributed to support community renewable energy projects in local communities.</p>
      </div>
      <!-- /s-entry-content -->

      <div class="s-entry-content">
        <p>While it doesn’t sound like much, it adds up. Launched in late 2016, the scheme raised more than $280,000 in its first year, funding projects including solar PV systems on childcare centres, neighbourhood centres and disability support centres.</p>
      </div>
      <!-- /s-entry-content -->

    </div>
  </div>
  <!-- /c-section -->


  <div class="c-section c-section--iron c-section--tilted">
    <div class="o-container">

      <div class="s-entry-content">
        <p>It goes to show that a little can go a long way. Almost 11,000 Powershop customers have spent an average of only about $30 in Your Community Energy premiums in the last year. But together, they’ve raised over $300,000 for community energy projects since the programs launch. <strong>Now that’s people power.</strong></p>
      </div>
      <!-- /s-entry-content -->

    </div>
  </div>
  <!-- /c-section -->


  <div class="c-section">
    <div class="o-container">

      <h2 class="c-title">Small contributions can be amazingly effective when they’re pooled together. In the Your Community Energy program, a lot of a little can add up to a great deal…</h2>
      <!-- /c-title -->

      <div class="s-entry-content s-entry-content--centered">
        <p>If around <strong>36,500</strong> Powershop customers spent about <strong>$30</strong> each extra per year on their energy bill, this would fund around <strong>100 projects</strong>, reducing greenhouse gas emissions by more than <strong>2600 tonnes</strong> a year.</p>
      </div>
      <!-- /s-entry-content -->

    </div>
  </div>
  <!-- /c-section -->

</main>
{% endblock %}
