.c-card {}

.c-card__container {
  margin: -1.5em 0 0 -2em;

  @media (min-width: 48em) {
    display: flex;
  }
}

.c-card__media {
  padding: 1.5em 0 0 2em;

  @media (min-width: 48em) {
    flex-basis: 40%;
  }
}

.c-card__content {
  padding: 1.5em 0 0 2em;

  @media (min-width: 48em) {
    flex-basis: 60%;
  }
}
