.c-illustration {
  position: relative;
  text-align: center;
  z-index: 1;
}

.c-illustration--people-government {
  @include fluid-type(margin-bottom, 20em, 63em, -4em, -8em);
}

.c-illustration--house img {
  width: 20em;
}

.c-illustration--human-chain img {
  width: 20em;
}

.c-illustration--australia {
  @include fluid-type(margin-bottom, 20em, 63em, -4.5em, -7.5em);
  @include fluid-type(margin-top, 20em, 63em, -6em, -13.5em);
}

.c-illustration--power-grid {
  @include fluid-type(margin-bottom, 20em, 63em, -6em, -13.5em);
}

.c-illustration--toilet img {
  width: 12.5em;
}

.c-illustration--checklist img {
  @include fluid-type(width, 20em, 63em, 20em, 30em);
}

.c-illustration--people img {
  width: 20em;
}

.c-illustration--globe {
  @include fluid-type(margin-top, 20em, 63em, -6em, -12em);

  img {
    width: 20em;
  }
}
