.c-illustration {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 0;

  img,
  svg {
    height: 100%;
    width: 100%;

    &:nth-child(n+2) {
      position: absolute;
    }
  }
}

.c-illustration--people-government {
  @include fluid-type(margin-bottom, 20em, 63em, -4em, -8em);
}

.c-illustration--house {
  img {
    width: 20em;

    &:nth-child(2) {
      z-index: -1;
    }
  }
}

.c-illustration--human-chain {
  img {
    width: 20em;
  }
}

.c-illustration--australia {
  @include fluid-type(margin-bottom, 20em, 63em, -4.5em, -7.5em);
  @include fluid-type(margin-top, 20em, 63em, -6em, -15em);
}

.c-illustration--battery {
  img {
    width: 20em;

    &:nth-child(n+2) {
      z-index: -1;
    }
  }
}

.c-illustration--power-grid {
  @include fluid-type(margin-bottom, 20em, 63em, -6em, -14em);
  z-index: 1;
}

.c-illustration--piggy-bank {
  @include fluid-type(margin-bottom, 20em, 63em, -6em, -8em);

  img {
    width: 20em;
  }
}

.c-illustration--checklist {
  img {
    @include fluid-type(width, 20em, 63em, 20em, 30em);
  }
}

.c-illustration--toilet {
  img {
    width: 12.5em;
  }
}

.c-illustration--community {
  img {
    width: 20em;
  }
}

.c-illustration--institutions {
  margin-bottom: -6em;
  z-index: 1;
}

.c-illustration--people {
  @include fluid-type(margin-top, 20em, 63em, 0em, -4em);

  img {
    width: 20em;

    &:nth-child(n+2) {
      z-index: -1;
    }
  }
}

.c-illustration--globe {
  @include fluid-type(margin-top, 20em, 63em, -6em, -12em);

  img {
    width: 20em;

    &:nth-child(2) {
      z-index: -1;
    }
  }
}

.c-illustration--contributions {
  z-index: 1;

  svg {
    z-index: -1;
  }
}
