.c-section {
  padding-bottom: 2em;
  padding-top: 2em;
}


// Colors ------------------------------

.c-section--amaranth {
  background-color: $amaranth;
  color: $white;
}

.c-section--celery {
  background-color: $celery;
  color: $white;
}

.c-section--iron {
  background-color: $iron;
}

.c-section--jaffa {
  background-color: $jaffa;
}


// Spacing -----------------------------

.c-main {
  .c-section:nth-child(1) {
    @include fluid-type(padding-top, 20em, 63em, 4em, 8em);
  }
}


// Angles ------------------------------

.c-section--tilted {
  margin: 17.6326980708% 0;
  position: relative;

  &::before,
  &::after {
    content: "";
    left: 0;
    padding-top: 17.6326980708%;
    position: absolute;
    right: 0;
  }

  &::before {
    bottom: 100%;
  }

  &::after {
    top: 100%;
  }

  &:nth-child(2) {
    &::before { background-image: linear-gradient(-10deg, $celery 50%, transparent 50%); }
    &::after  { background-image: linear-gradient(-10deg, transparent 50%, $celery 50%); }
  }

  &:nth-child(4) {
    &::before { background-image: linear-gradient(10deg, $jaffa 50%, transparent 50%); }
    &::after  { background-image: linear-gradient(10deg, transparent 50%, $jaffa 50%); }
  }

  &:nth-child(6) {
    &::before { background-image: linear-gradient(-10deg, $celery 50%, transparent 50%); }
    &::after  { background-image: linear-gradient(-10deg, transparent 50%, $celery 50%); }
  }

  &:nth-child(8) {
    &::before { background-image: linear-gradient(-10deg, $amaranth 50%, transparent 50%); }
    &::after  { background-image: linear-gradient(-10deg, transparent 50%, $amaranth 50%); }
  }

  &:nth-child(10) {
    &::before { background-image: linear-gradient(10deg, $iron 50%, transparent 50%); }
    &::after  { background-image: linear-gradient(10deg, transparent 50%, $iron 50%); }
  }
}
