.c-section {
  padding-bottom: 2em;
  padding-top: 2em;
}


// Colors ------------------------------

.c-section--amaranth {
  background-color: $amaranth;
  color: $white;
}

.c-section--celery {
  background-color: $celery;
  color: $white;
}

.c-section--iron {
  background-color: $iron;
}

.c-section--jaffa {
  background-color: $jaffa;
}


// Angles ------------------------------

.c-main {
  .c-section:nth-child(2) {
    @include tilted(-10deg, $celery);
    @include tilted(-10deg, $celery);
  }

  .c-section:nth-child(4) {
    @include tilted(10deg, $jaffa);
    @include tilted(10deg, $jaffa);
  }

  .c-section:nth-child(6) {
    @include tilted(-10deg, $celery);
    @include tilted(-10deg, $celery);
  }

  .c-section:nth-child(8) {
    @include tilted(-10deg, $amaranth);
    @include tilted(-10deg, $amaranth);
  }

  .c-section:nth-child(10) {
    @include tilted(10deg, $iron);
    @include tilted(10deg, $iron);
  }
}


// Spacings ----------------------------

.c-header {}

.c-main {
  .c-section:nth-child(1) {}

  .c-section:nth-child(2) {}

  .c-section:nth-child(3) {}

  .c-section:nth-child(4) {}

  .c-section:nth-child(5) {}

  .c-section:nth-child(6) {}

  .c-section:nth-child(7) {}

  .c-section:nth-child(8) {}

  .c-section:nth-child(9) {}

  .c-section:nth-child(10) {}

  .c-section:nth-child(11) {}
}

.c-footer {}
