.c-section {
  padding-bottom: 2em;
  padding-top: 2em;
}


// Colors ------------------------------

.c-section--amaranth {
  background-color: $amaranth;
  color: $white;
}

.c-section--celery {
  background-color: $celery;
  color: $white;
}

.c-section--iron {
  background-color: $iron;
}

.c-section--jaffa {
  background-color: $jaffa;
}


// Angles ------------------------------

.c-main {
  .c-section--tilted:nth-child(2) {
    @include tilted(-10deg, $celery);
  }

  .c-section--tilted:nth-child(4) {
    @include tilted(10deg, $jaffa);
  }

  .c-section--tilted:nth-child(6) {
    @include tilted(-10deg, $celery);
  }

  .c-section--tilted:nth-child(8) {
    @include tilted(-10deg, $amaranth);
  }

  .c-section--tilted:nth-child(10) {
    @include tilted(10deg, $iron);
  }
}
