<footer class="c-footer" role="contentinfo">
  <div class="o-container c-footer__container">

    <div class="s-entry-content s-entry-content--centered">
      <small>* Numbers based on an installed Your Community Energy project in Melbourne, Victoria.</small>
      <small>* 1.73mil stat: <a href="https://www.energycouncil.com.au/reports">https://www.energycouncil.com.au/reports</a></small>
      <small>* 16% stat: <a href="https://www.cleanenergycouncil.org.au/technologies/solar-pv.html">https://www.cleanenergycouncil.org.au/technologies/solar-pv.html</a></small>
    </div>
    <!-- /s-entry-content -->

  </div>
</footer>
<!-- /c-section -->
