<header class="c-header" role="banner">
  <div class="o-container">

    <div class="o-container o-container--narrow u-vertical-space">

      <h1 class="c-title c-title--centered u-vertical-space">It’s easy to feel powerless in the face of climate change.</h1>
      <!-- /c-title -->

      <div class="s-entry-content s-entry-content--centered u-vertical-space">
        <p>If governments don’t take the threat seriously, what’s the point in you and me doing anything about it?</p>
        <p>Well, it turns out there’s every point. When people form communities or companies that aim to make a difference, things really start to change and the effect can be amazing.</p>
      </div>
      <!-- /s-entry-content -->

    </div>
    <!-- /o-container -->

    <div class="c-illustration c-illustration--people-government">
      <img src="{{ cdn }}images/people-government.png" alt="">
    </div>
    <!-- /c-illustration -->

  </div>
</header>
<!-- /c-section -->
