@mixin tilted($angle, $color) {
  $height: get-tilted-height($angle);

  margin: $height 0;
  position: relative;

  &::before,
  &::after {
    content: "";
    left: 0;
    padding-top: $height;
    position: absolute;
    right: 0;
  }

  &::before {
    background-image: linear-gradient($angle, $color 50%, transparent 50%);
    bottom: 100%;
  }

  &::after {
    background-image: linear-gradient($angle, transparent 50%, $color 50%);
    top: 100%;
  }
}
