.s-entry-content {
  hyphens: auto;
  word-wrap: break-word;

  small {
    display: block;
    font-style: italic;
  }

  p {
    margin-bottom: 1.5em;
    margin-top: 1.5em;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.s-entry-content--centered {
  text-align: center;
}
