<!DOCTYPE html>
<html class="js-off" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Powershop – Climate Change</title>
    <!-- removeIf(production) -->
    <link rel="stylesheet" href="main.css">
    <!-- endRemoveIf(production) -->
    <script>document.documentElement.className=document.documentElement.className.replace('js-off','js-on');</script>
  </head>
  <body>
    <div class="o-body-wrap s-interactive">
      {% block regions %}{% endblock %}
    </div>
    <!-- removeIf(production) -->
    <script src="main.js"></script>
    <!-- endRemoveIf(production) -->
  </body>
</html>
